﻿@{
    ViewBag.Title = "Kontakt";
}
<hgroup>
    <h2>Kontakt</h2>
</hgroup>
<div>
    <address>
        <i class="icon-envelope"></i><strong>Pomoc:</strong>   <a href="mailto:bartek.gorkin@gmail.com">bartek.gorkin@gmail.com</a><br />
    </address>
</div>