﻿@{
    ViewBag.Title = "Strona Główna";
}
<div class="jumbotron">
    <h1>Witaj w Ankieterze!</h1>
    <p>Na tej stronie możesz łatwo i szybko stworzyć ankietę oraz zebrać jej wyniki.</p>
    <p><a class="btn btn-primary btn-lg" href="@Url.Action("Add", "Survey")" role="button">Stwórz ankietę</a></p>
</div>