﻿<div class="row rounded" style="margin-bottom:20px;">
    <div class="form-group row">
        <h4 class="col-md-2" style="text-align:right;">Pytanie:</h4>
        <div class="col-md-9">
            <input ng-model="form.title" class="form-control" placeholder="Tu wpisz pytanie" />
        </div>
        <div class="col-md-1"><span class="glyphicon glyphicon-move" style="cursor:move;"></span></div>
    </div>
    <div class="form-group row">
        <h4 class="col-md-2" style="text-align:right;">Opis:</h4>
        <div class="col-md-9">
            <input ng-model="form.description" class="form-control" placeholder="Tu wpisz opis pytania" />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="padding-bottom:5px;" ng-repeat="option in form.options">
        <input class="col-md-1" type="checkbox" name="form.id" disabled />
        <div class="col-md-10 ">
            <input class="form-control" type="text" ng-model="option.value" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" ng-click="removeOption(option, form)"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="row">
        <!-- REQUIRED -->
        <div class="col-md-2">
            <input type="checkbox" ng-model="form.required" />&nbsp;Wymagane?
        </div>
        <!-- ORDERING -->
        <div class="col-md-1">
            <!--<select ng-click="oldValue = form.index" ng-change="orderChanged(form, oldValue)" ng-model="form.index" ng-options="item.index as item.index for item in forms" ng-init="form.index = forms.indexOf(form)"></select>-->
        </div>
        <div class="dropdown col-md-1">
            <!--<button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button">
                {{ forms.indexOf(form) }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="orderForm in forms">
                    <a role="menuitem" tabindex="forms.indexOf(orderForm)" href="" ng-click="oldValue = form.index; orderChanged(form, oldValue)">{{ forms.indexOf(orderForm) }}</a>
                </li>
            </ul>-->
        </div>
        <!-- ADD OPTION -->
        <div class="col-md-1">
            <button class="btn btn-default" ng-click="addOption(form)">Dodaj opcję</button>
        </div>
        <!-- REMOVE -->
        <div class="col-md-1">
            <button class="btn btn-danger" ng-click="remove()">Usuń formę!</button>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>