﻿
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>


<button ng-click="clear()">Clear</button>

<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/AngularControllers/radioApp.js"></script>
<script src="~/Scripts/AngularControllers/radioController.js"></script>