﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <button ng-click="clear()">Clear</button>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularControllers/radioApp.js"></script>
    <script src="~/Scripts/AngularControllers/radioController.js"></script>
</body>
</html>
