﻿@{
    ViewBag.Title = "Add";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
@*<script src="~/Scripts/ng-sortable.js"></script>*@
<script src="~/Scripts/angularAddController.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/pl.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css" />


<script type="text/javascript">
    var radioAddDirectiveUrl = "@Url.Content("~/AngularViews/radioAddDirective.html")";
    var checkboxAddDirectiveUrl = "@Url.Content("~/AngularViews/checkboxAddDirective.html")";
    var textAddDirectiveUrl = "@Url.Content("~/AngularViews/textAddDirective.html")";
    var multilineAddDirectiveUrl = "@Url.Content("~/AngularViews/multilineAddDirective.html")";
    var addQuestionnaireUrl = "@Url.Action("Add", "Survey")";
</script>

<style>
    .rounded {
        border-radius: 10px;
        border-style: solid;
        border-color: #ddd;
        border: 1px 1px 1px 1px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
</style>
<div ng-app="ankieter" ng-controller="addController" style="border: 0; margin-bottom: 100px;">
    <div style="text-align: center;">
        <form name="outerForm">
            <div class="form-horizontal row" ng-class="{'has-error': outerForm.title.$invalid && outerForm.title.$dirty }">
                <div class="form-group">
                    <h3>
                        <label for="title" class="col-md-2 control-label">Tytuł:</label>
                    </h3>
                    <div class="col-md-10">
                        <input type="text" ng-model="title" name="title" required ng-minlength="5" ng-maxlength="100" id="title" class="form-control" placeholder="Tu wpisz tytuł ankiety" title="{{ outerForm.title.$error.required ? 'To pole jest wymagane' : ''}}{{outerForm.title.$error.minlength ? 'Minimalna długość to 3' : ''}}{{outerForm.title.$error.maxlength ? 'Maksymalna długość to 100' : ''}}" />
                    </div>
                </div>
            </div>
            <div class="form-horizontal row" ng-class="{'has-error': outerForm.description.$invalid && outerForm.description.$dirty }">
                <div class="form-group">
                    <h3>
                        <label for="title" class="col-md-2 control-label">Opis:</label>
                    </h3>
                    <div class="col-md-10">
                        <textarea ng-model="description" name="description" required ng-maxlength="300" class="form-control" placeholder="Opisz swoją ankietę" style="resize: vertical;" title="{{ outerForm.description.$error.required ? 'To pole jest wymagane' : ''}}{{formName.description.$error.maxlength ? 'Maksymalna długość to 300' : ''}}"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-horizontal row">
                <div class="form-group">
                    <div class="col-md-12">Określ jakie warunki muszą być spełnione, żeby ankieta została zakończona. Możesz również nie określać żadnych warunków. Wtedy ankieta będzie ważna bezterminowo.</div>
                </div>
            </div>
            <div class="form-horizontal row">
                <div class="form-group">
                    <h4>
                        <label for="title" class="col-md-2 control-label">Data</label>
                    </h4>
                    <input class="col-md-1" type="checkbox" ng-model="dateSelected" />
                    <div class="col-md-3">
                        <div class="input-group date" id="datetimepicker1">
                            <input id="dateTimeModelId" type="text" class="form-control" ng-model="parent.dateLimit" ng-disabled="!dateSelected" @*ng-change="dtp(parent.dateLimit)" ng-select="dtp(parent.dateLimit)"*@ />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <div class="form-horizontal row" ng-class="{'has-error': outerForm.responses.$invalid && outerForm.responses.$dirty }">
                <div class="form-group">
                    <h4>
                        <label for="title" class="col-md-2 control-label">Liczba odpowiedzi</label>
                    </h4>
                    <input class="col-md-1" type="checkbox" ng-model="responsesSelected" />
                    <div class="col-md-3">
                        <input class="form-control" type="number" min="1" value="1" max="10000" name="responses" ng-model="responsesLimit" ng-disabled="!responsesSelected" />
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </div>
            <span class="divider"></span>
            <ng-switch on="form.type" ng-repeat="form in forms | orderBy:form.index">
                <radio-form ng-switch-when="Radio" form="form" remove="removeForm(form)" sort="changeOrder(oldIndex, newIndex)" formcount="forms.length"></radio-form>
                <checkbox-form ng-switch-when="Checkbox" form="form" remove="removeForm(form)" sort="changeOrder(oldIndex, newIndex)" formcount="forms.length"></checkbox-form>
                <text-form ng-switch-when="Text" form="form" remove="removeForm(form)" sort="changeOrder(oldIndex, newIndex)" formcount="forms.length"></text-form>
                <multiline-form ng-switch-when="Multiline" form="form" remove="removeForm(form)" sort="changeOrder(oldIndex, newIndex)" formcount="forms.length"></multiline-form>
            </ng-switch>
        </form>
        <div class="form-horizontal row">
            <div class="form-group">
                <div class="col-md-12 has-error" ng-repeat="error in errors track by $index" style="text-align: left; color: red;">
                    {{ error }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="dropdown col-md-2" style="width: auto; min-width: 150px;">
                <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button" ng-init="newForm = options[0]">{{ newForm.display }}<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="option in options">
                        <a role="menuitem" tabindex="options.indexOf(option)" href="" ng-click="setNewForm(option)">{{ option.display }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" ng-click="addForm(newForm)">Dodaj nową formę</button>
            </div>
            <div class="col-md-1" title="{{ outerForm.$invalid ? 'Formularz zawiera błędy. Sprawdź je.' : '' }}">
                <button class="btn" ng-show="!isSending" ng-class="{ 'btn-default' : outerForm.$valid, 'btn-danger' : outerForm.$invalid }" ng-click="test()" ng-disabled="outerForm.$invalid">Wyślij</button>
                <button class="btn" ng-show="isSending"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Wysyłanie</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#datetimepicker1").datetimepicker({
            locale: "pl",
            minDate: new Date()
        });
    });
</script>