﻿@*@Model Newtonsoft.Json.Linq.JObject*@
@{
    ViewBag.Title = "Wypełnij ankietę: ";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
<script src="~/Scripts/angularGetController.js"></script>

<script type="text/javascript">
    var radioDirectiveUrl = "@Url.Content("~/AngularViews/radioDirective.html")";
    var checkboxDirectiveUrl = "@Url.Content("~/AngularViews/checkboxDirective.html")";
    var textDirectiveUrl = "@Url.Content("~/AngularViews/textDirective.html")";
    var multilineDirectiveUrl = "@Url.Content("~/AngularViews/multilineDirective.html")";
    var addResponseUrl = "@Url.Action("Add", "Response", new { id = @ViewBag.Id })";
</script>

<style>
    .rounded {
        border-radius: 10px;
        border-style: solid;
        border-color: #ddd;
        border: 1px 1px 1px 1px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .rounded-error {
        border-color: red;
    }
</style>
<div ng-app="ankieter" ng-controller="getController" ng-init="initValues('@Model["forms"]', '@Model["title"]', '@Model["description"]')" style="border: 0; margin-bottom: 100px;">
    <div style="text-align: center;">
        <div class="form-horizontal row">
            <div class="form-group">
                <div class="col-md-12">
                    <h1> {{ title }}</h1>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <h3> {{ description }}</h3>
                </div>
            </div>
        </div>
        <div>
            Pytanie oznaczone przez ikonę: <span class="glyphicon glyphicon-asterisk"></span> są wymagane do wysłania ankiety.
        </div>
        <span class="divider"></span>

        <ng-switch on="form.type" ng-repeat="form in forms | orderBy:form.index">
            <radio-form ng-switch-when="Radio" form="form"></radio-form>
            <checkbox-form ng-switch-when="Checkbox" form="form"></checkbox-form>
            <text-form ng-switch-when="Text" form="form"></text-form>
            <multiline-form ng-switch-when="Multiline" form="form"></multiline-form>
        </ng-switch>

    </div>
    <div class="form-horizontal row">
        <div class="form-group">
            <div class="col-md-12 has-error" ng-repeat="error in errors track by $index" style="text-align: left; color: red;">
                {{ error }}
            </div>
        </div>
    </div>
    <button class="btn btn-default" ng-click="test()">Wyślij</button>
</div>