﻿<div class="row rounded" ng-init="formName = 'form' + form.index" ng-form name="formName" style="margin-bottom:20px;">
    <div class="form-group row" ng-class="{'has-error': formName.title.$invalid && formName.title.$dirty }">
        <h4 class="col-md-2" style="text-align:right;">Pytanie:</h4>
        <div class="col-md-9">
            <input ng-model="form.title" required ng-minlength="3" ng-maxlength="100" name="title" class="form-control" placeholder="Tu wpisz pytanie" title="{{ formName.title.$error.required ? 'To pole jest wymagane' : ''}}{{formName.title.$error.minlength ? 'Minimalna długość to 3' : ''}}{{formName.title.$error.maxlength ? 'Maksymalna długość to 100' : ''}}" />
        </div>
        <div class="col-md-1"><!--<span class="glyphicon glyphicon-move" style="cursor:move;" as-sortable-item-handle></span>--></div>
    </div>
    <div class="form-group row" ng-class="{'has-error': formName.description.$invalid && formName.title.$dirty}">
        <h4 class="col-md-2" style="text-align:right;">Opis:</h4>
        <div class="col-md-9">
            <input ng-model="form.description" name="description" ng-maxlength="300" class="form-control" placeholder="Tu wpisz opis pytania" title="{{formName.description.$error.maxlength ? 'Maksymalna długość to 300' : ''}}" />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <textarea class="form-control" ng-model="form.value" disabled placeholder="Tu będzie odpowiedź" style="resize:vertical;"></textarea>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <!-- REQUIRED -->
        <div class="col-md-2" title="Określ, czy pytanie będzie obowiązkowe">
            <input type="checkbox" ng-model="form.required" />&nbsp;Wymagane?
        </div>
        <!-- ORDERING -->
        <div class="col-md-1">
        </div>
        <div class="dropdown col-md-1" title="Zmień kolejność">
            <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button">
                {{ form.index + 1 }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="n in rangeArray(formcount) track by $index">
                    <a role="menuitem" tabindex="{{ $index }}" href="" ng-click="sort({oldIndex:form.index, newIndex:$index})">{{ $index + 1 }}</a>
                </li>
            </ul>
        </div>
        <!-- ADD OPTION -->
        <div class="col-md-1">
        </div>
        <!-- REMOVE -->
        <div class="col-md-1">
            <button class="btn btn-danger" ng-click="remove()">Usuń formę!</button>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>