﻿<div class="row rounded" style="margin-bottom:20px;" ng-init="formName = 'form' + form.index" ng-form name="formName" ng-class="{ 'rounded-error': (formName.$dirty || form.trySubmit) && !test() }">
    <div class="form-group row">
        <h4 class="col-md-1" style="text-align:right;"> {{ form.index + 1 }}. </h4>
        <h4 class="col-md-10" style="text-align: left;">{{ form.title }}</h4>
        <h4 class="col-md-1">
            <span class="glyphicon glyphicon-asterisk" title="To pole jest wymagane" ng-show="form.required"></span>
        </h4>
    </div>
    <div class="form-group row">
        <h4 class="col-md-1" style="text-align:right;"></h4>
        <h5 class="col-md-11" style="text-align:left;">{{ form.description }}</h5>
    </div>
    <div class="row" style="padding-bottom:5px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <textarea class="form-control" name="content" ng-model="form.content" style="resize:vertical;" title="{{ form.content.length > 0 ? '' : 'To pole jest wymagane' }}"></textarea>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>