﻿<div class="row rounded" ng-init="formName = 'form' + form.index" ng-form name="formName" style="margin-bottom:20px;">
    <div class="form-group row" ng-class="{'has-error': formName.title.$invalid && formName.title.$dirty }">
        <h4 class="col-md-2" style="text-align:right;">Pytanie:</h4>
        <div class="col-md-9">
            <input ng-model="form.title" required ng-minlength="3" ng-maxlength="100" name="title" class="form-control" placeholder="Tu wpisz pytanie" title="{{ formName.title.$error.required ? 'To pole jest wymagane' : ''}}{{formName.title.$error.minlength ? 'Minimalna długość to 3' : ''}}{{formName.title.$error.maxlength ? 'Maksymalna długość to 100' : ''}}" />
        </div>
        <div class="col-md-1"><!--<span class="glyphicon glyphicon-move" style="cursor:move;" ng-click="console.log(formCount)"></span>--></div>
    </div>
    <div class="form-group row" ng-class="{'has-error': formName.description.$invalid && formName.title.$dirty}">
        <h4 class="col-md-2" style="text-align:right;">Opis:</h4>
        <div class="col-md-9">
            <input ng-model="form.description" name="description" ng-maxlength="300" class="form-control" placeholder="Tu wpisz opis pytania" title="{{formName.description.$error.maxlength ? 'Maksymalna długość to 300' : ''}}" />
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="padding-bottom:5px;" ng-repeat="option in form.options track by $index" ng-form="innerForm" ng-class="{'has-error': innerForm.option.$invalid && innerForm.option.$dirty }">
        <input class="col-md-1" type="radio" name="form.id" disabled />
        <div class="col-md-10 ">
            <input class="form-control" name="option" required ng-minlength="1" ng-maxlength="100" type="text" ng-model="form.options[$index]" title="{{ innerForm.option.$error.required ? 'To pole jest wymagane' : ''}}{{innerForm.option.$error.minlength ? 'Minimalna długość to 3' : ''}}{{innerForm.option.$error.maxlength ? 'Maksymalna długość to 100' : ''}}" />
        </div>
        <div class="col-md-1">
            <button class="btn btn-danger" title="Usuń opcję" ng-click="removeOption($index, form)" ng-show="form.options.length != 2"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="row">
        <!-- REQUIRED -->
        <div class="col-md-2" title="Określ, czy pytanie będzie obowiązkowe">
            <input type="checkbox" ng-model="form.required" />&nbsp;Wymagane?
        </div>
        <!-- ORDERING -->
        <div class="col-md-1">
        </div>
        <div class="dropdown col-md-1" title="Zmień kolejność">
            <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button">
                {{ form.index + 1 }}<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li role="presentation" ng-repeat="n in rangeArray(formcount) track by $index">
                    <a role="menuitem" tabindex="{{ $index }}" href="" ng-click="sort({oldIndex:form.index, newIndex:$index})">{{ $index + 1 }}</a>
                </li>
            </ul>
        </div>
        <!-- ADD OPTION -->
        <div class="col-md-1">
            <button class="btn btn-default" ng-click="addOption(form)">Dodaj opcję</button>
        </div>
        <!-- REMOVE -->
        <div class="col-md-1">
            <button class="btn btn-danger" ng-click="remove()">Usuń formę!</button>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>