﻿<div class="row rounded" style="margin-bottom:20px;" ng-init="formName = 'form' + form.index" ng-form name="formName" ng-class="{ 'rounded-error': (formName.$dirty || form.trySubmit) && !test() }">
    <div class="form-group row">
        <h4 class="col-md-1" style="text-align: right;"> {{ form.index + 1 }}. </h4>
        <h4 class="col-md-10" style="text-align: left;" title="Pytanie">{{ form.title }}</h4>
        <h4 class="col-md-1">
            <span class="glyphicon glyphicon-asterisk" title="To pole jest wymagane" ng-show="form.required"></span>
        </h4>
    </div>
    <div class="form-group row">
        <h4 class="col-md-1" style="text-align:right;"></h4>
        <h5 class="col-md-11" style="text-align:left;" title="Opis pytania">{{ form.description }}</h5>
    </div>
    <div class="row" style="padding-bottom: 5px;" ng-repeat="option in form.options track by $index">
        <div class="col-md-1" style="text-align: right; padding-right: 0; vertical-align: middle;"> {{ $index + 1 }}.</div>
        <div class="col-md-10" style="text-align: left;">
            <input class="form-control" name="option" type="text" ng-model="form.options[$index]" />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>