﻿<!DOCTYPE html>
<html lang="en" ng-app="ankieter">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Questionnaire</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="rootController.js"></script>
    <style>
        .rounded {
            border-radius: 10px;
            border-style: solid;
            border-color: #ddd;
            border: 1px 1px 1px 1px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    </style>
</head>
<body ng-controller="rootController" style="padding-top:50px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" style="text-align:center; padding: 40px 15px;">
        <div class="form-horizontal row">
            <div class="form-group">
                <h3><label for="title" class="col-md-2 control-label">Tytuł:</label></h3>
                <div class="col-md-10">
                    <input type="text" ng-model="title" id="title" class="form-control" placeholder="Tu wpisz tytuł ankiety" />
                </div>
            </div>
            <div class="form-group">
                <h3>
                    <label for="title" class="col-md-2 control-label">Opis:</label>
                </h3>
                <div class="col-md-10">
                    <textarea ng-model="description" class="form-control" placeholder="Opisz swoją ankietę" style="resize:vertical;"></textarea>
                </div>
            </div>
        </div>
        <span class="divider"></span>

        <div ng-repeat="form in forms | orderBy: 'index'" class="row rounded" style="margin-bottom:20px;">
            <!-- COMMON -->
            <div class="form-group row">
                <h4 class="col-md-2" style="text-align:right;">Pytanie:</h4>
                <div class="col-md-9">
                    <input ng-model="form.title" class="form-control" placeholder="Tu wpisz pytanie" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="form-group row">
                <h4 class="col-md-2" style="text-align:right;">Opis:</h4>
                <div class="col-md-9">
                    <input ng-model="form.description" class="form-control" placeholder="Tu wpisz opis pytania" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <!-- RADIO -->
            <div class="row" style="padding-bottom:5px;" ng-show="form.type === 'radio'" ng-repeat="option in form.options">
                <input class="col-md-1" type="radio" name="form.id" disabled />
                <div class="col-md-10 ">
                    <input class="form-control" type="text" ng-model="option.value" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" ng-click="removeOption(option, form)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <!-- CHECKBOX -->
            <div class="row" style="padding-bottom:5px;" ng-show="form.type === 'checkbox'" ng-repeat="option in form.options">
                <input class="col-md-1" type="checkbox" name="form.id" disabled />
                <div class="col-md-10 ">
                    <input class="form-control" type="text" ng-model="option.value" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" ng-click="removeOption(option, form)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <!-- TEXT -->
            <div class="row" ng-show="form.type === 'text'" style="padding-bottom:5px;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <input class="form-control" type="text" ng-model="form.value" disabled placeholder="Tu będzie odpowiedź" />
                </div>
                <div class="col-md-1"></div>
            </div>
            <!-- MULTILINE TEXT -->
            <div class="row" ng-show="form.type === 'multilineText'" style="padding-bottom:5px;">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <textarea class="form-control" ng-model="form.value" disabled placeholder="Tu będzie odpowiedź" style="resize:vertical;"></textarea>
                </div>
                <div class="col-md-1"></div>
            </div>
            <!-- LIST -->
            <div class="row" style="padding-bottom:5px;" ng-show="form.type === 'list'" ng-repeat="option in form.options">
                <div class="col-md-1"></div>
                <div class="col-md-10 ">
                    <input class="form-control" type="text" ng-model="option.value" />
                </div>
                <div class="col-md-1">
                    <button class="btn btn-danger" ng-click="removeOption(option, form)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>

            <div class="row">
                <!-- REQUIRED -->
                <div class="col-md-2" ng-show="form.required != null">
                    <input type="checkbox" ng-model="form.required" />&nbsp;Wymagane?
                </div>
                <!-- ORDERING -->
                <div class="col-md-1">
                    <select ng-click="oldValue = form.index" ng-change="orderChanged(form, oldValue)" ng-model="form.index" ng-options="item.index as item.index for item in forms" ng-init="form.index = forms.indexOf(form)"></select>
                </div>
                <div class="dropdown col-md-1">
                    <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button">
                        {{ forms.indexOf(form) }}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation" ng-repeat="orderForm in forms">
                            <a role="menuitem" tabindex="forms.indexOf(orderForm)" href="" ng-click="oldValue = form.index; orderChanged(form, oldValue)">{{ forms.indexOf(orderForm) }}</a>
                        </li>
                    </ul>
                </div>
                <!-- ADD OPTION -->
                <div class="col-md-1" ng-show="form.type === 'radio' || form.type === 'checkbox' || form.type === 'list'">
                    <button class="btn btn-default" ng-click="addOption(form)">Dodaj opcję</button>
                </div>
                <!-- REMOVE -->
                <div class="col-md-1">
                    <button class="btn btn-danger" ng-click="removeForm(form)">Usuń formę!</button>
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
        <div class="row">
            <div class="dropdown col-md-2" style="">
                <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button" ng-init="newForm = options[0].value">{{ newForm }}<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="option in options">
                        <a role="menuitem" tabindex="options.indexOf(option)" href="" ng-click="setNewForm(option.value)">{{ option.value }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" ng-click="addForm(newForm);">Dodaj nową formę</button>
            </div>
            <!--<div class="col-md-10">
            </div>-->
            <!--<select ng-model="newForm" ng-options="option.value as option.value for option in options" ng-init="newForm = options[0].value"></select>-->
            <!--<button ng-click="addForm(newForm)">Dodaj</button>-->
        </div>
    </div>
</body>
</html>