﻿<!DOCTYPE html>
<html lang="en" ng-app="ankieter">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Questionnaire</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

    <script src="dirJS.js"></script>
    <style>
        .rounded {
            border-radius: 10px;
            border-style: solid;
            border-color: #ddd;
            border: 1px 1px 1px 1px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    </style>
</head>
<body ng-controller="Controller" style="padding-top:50px;">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container" style="text-align:center; padding: 40px 15px;">
        <div class="form-horizontal row">
            <div class="form-group">
                <h3><label for="title" class="col-md-2 control-label">Tytuł:</label></h3>
                <div class="col-md-10">
                    <input type="text" ng-model="title" id="title" class="form-control" placeholder="Tu wpisz tytuł ankiety" />
                </div>
            </div>
            <div class="form-group">
                <h3>
                    <label for="title" class="col-md-2 control-label">Opis:</label>
                </h3>
                <div class="col-md-10">
                    <textarea ng-model="description" class="form-control" placeholder="Opisz swoją ankietę" style="resize:vertical;"></textarea>
                </div>
            </div>
        </div>
        <span class="divider"></span>

        <ng-switch on="form.type" ng-repeat="form in forms">
            <radio-form ng-switch-when="radio" form="form" remove="removeForm(form)"></radio-form>
            <checkbox-form ng-switch-when="checkbox" form="form" remove="removeForm(form)"></checkbox-form>
            <text-form ng-switch-when="text" form="form" remove="removeForm(form)"></text-form>
            <multiline-form ng-switch-when="multiline" form="form" remove="removeForm(form)"></multiline-form>
        </ng-switch>

        <div class="row">
            <div class="dropdown col-md-2" style="">
                <button class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown" type="button" ng-init="newForm = options[0].value">{{ newForm }}<span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation" ng-repeat="option in options">
                        <a role="menuitem" tabindex="options.indexOf(option)" href="" ng-click="setNewForm(option.value)">{{ option.value }}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1">
                <button class="btn btn-default" ng-click="addForm(newForm);">Dodaj nową formę</button>
            </div>
        </div>
    </div>
</body>
</html>