﻿@model TestWeb.ViewModels.SurveyResponsesViewModel

@{
    ViewBag.Title = "Raport z ankiety: " + Model.Title;
}

<h1 title="Tytuł ankiety" style="text-align: center;">@Model.Title</h1>
<h5 title="Opis ankiety" style="text-align: center;">@Model.Description</h5>
<h5>Liczba udzielonych odpowiedzi: @Model.ResponsesCount</h5>
<ul class="nav nav-list">
    <li class="divider"></li>
</ul>
@foreach (var question in Model.Questions)
{
    <ul class="list-group">
        <li class="list-group-item active">
            <h4 class="list-group-item-heading" title="@question.QuestionTypeDescription">@(question.Index + 1). @question.Title</h4>
        </li>
        @foreach (var answer in question.Answers)
        {
            <li class="list-group-item"><span class="badge">@answer.Value</span>@answer.Key</li>
        }
    </ul>
}

