﻿@using System.Collections.Generic
@using System.Globalization
@using System.Linq
@using TestWeb.ViewModels
@model IEnumerable<MySurveyViewModel>

@{
    ViewBag.Title = "Moje ankiety";

}
<div class="container">
    <h2>Moje ankiety</h2>

    <table class="table table-striped">
        <thead>
            @if (!Model.Any())
            {
                <tr>
                    Nie znaleziono żadnych ankiet.
                </tr>
            }
            else
            {
                <tr>
                    <th>Tytuł</th>
                    <th>Aktywna</th>
                    <th>Liczba odpowiedzi</th>
                    <th>Data zamknięcia</th>
                    <th>Limit odpowiedzi</th>
                    <th>Raport</th>
                    <th>CSV</th>
                </tr>
            }        </thead>
        <tbody>
            @foreach (var survey in Model)
            {
                <tr>
                    <th>
                        <a href="@survey.Url">@survey.Title</a>
                    </th>
                    <th>
                        @if (survey.IsActive)
                        {
                            <span class="glyphicon glyphicon-ok" title="Tak"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-remove" title="Nie"></span>
                        }
                    </th>
                    <th>
                        @survey.ResponsesAdded
                    </th>
                    <th>
                        @if (survey.ClosedAtDateTime.HasValue)
                        {
                            var culture = new CultureInfo("pl-PL");
                            @survey.ClosedAtDateTime.Value.ToString("HH:mm d MMMM yyyy", culture)
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-minus"></span>
                        }
                    </th>
                    <th>
                        @if (survey.ClosedAtResponsesNumber.HasValue)
                        {
                            @survey.ClosedAtResponsesNumber.Value
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-minus"></span>
                        }
                    </th>
                    <th>
                        <a href="@survey.ReportUrl">Pokaż</a>
                    </th>
                    <th>
                        <a href="@survey.CsvUrl">Generuj</a>
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>
